/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Intestazione */
header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;

    height: 175px;
}

/* Immagine scritta 'The Booleaner' */
header img {
    width: 250px;
    margin: 100px 10px;
}

/* Applicazione di margini per le varie sezioni */
div {
    margin: 15px 10px;
}

/* Autore e data articolo */
h4,
h6 {
    color: grey;
}

/* Data articolo */
h6 {
    font-weight: 400;
}

/* Collegamento autore */
a {
    text-decoration: none;
}

/* Crediti immagini */
.photo-credits {
    font-size: small;
}

/* Evidenziatore */
.highlight {
    background-color: yellow;
}

/* Lista */
.list {
    margin: 25px;
}